<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300|Raleway:100' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/styles.css" />
  <link rel="icon" type="image/x-icon" href="favicon.png?2" />

  <!-- JS -->
  <script src="js/jquery.js"></script>
  <script src="js/jquery.adaptive-backgrounds.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/main.js"></script>

</head>
